*
{
    margin: 0;
    padding: 0;
}

body
{
    background: linear-gradient(

       #231e44 90%,
       #232d44 0%
       );
    text-align: justify;
    font-family: "Helvetica", sans-serif;
}

/* Header Section */

header
{
    
    border-bottom: 1px solid  #6e5ed398;
    width: auto;
    display: flex;
    justify-content: space-between;
    font-size: 14pt;
    height: 15vh;
    align-items: center;
    padding: 0.8rem;
    color: rgb(228, 224, 224);
}

header > #logo
{

    padding-left: 2vh;
    font-size: 17pt;
    font-weight: bold;
    font-family: "Fira Code", sans-serif;
}


header > nav > a
{
    color: rgb(199, 196, 196);
    text-decoration: none;
    margin: 4vh;
}

header > #logo > #dev_sib
{
    color: #00ffff;
}

/* Header elements effects */

header > nav > a:hover
{
    
    font-weight: bolder;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid #00ffff;
    padding-bottom: 2px;
}

/* Citation Section */

.citation{
    display: flex;
    align-items: center;
    padding-top: 2vw;

}

.citation > blockquote
{
    font-weight: bolder;
    font-size: 15pt;
    color: rgb(228, 224, 224);
    padding: .5vw;
}
.citation > blockquote > p
{
    text-align: justify;
}
.citation > blockquote > cite
{
    color:rgb(138, 155, 144);
    
}

.citation img
{
    width: 50%;
    height: 20vw;
}

.v{
    background: tomato;
    font-size: 17pt;
    color: #fff;
    padding: 20px;
}

/* About me section */

#aboutme
{
    padding-top: 5vw;
}

#aboutme > h2
{
    text-align: center;
    color: #fff;

}
#aboutme > .container
{
    display: flex;
    padding: .5vw;
    justify-content: space-between;
}
#aboutme > .container > .imgs 
{
    width: 50%;
    display: grid;
    justify-content: center;
}
#aboutme > .container > .imgs > .Bord { border: 3px solid  #00ffff; border-radius: 50%; }
#aboutme > .container > .imgs > .Bord > #eu
{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    padding: 5px;
}

#aboutme > .container > .imgs > span{ padding-top: 2vw; padding-bottom: 2vw; text-align: center; font-size: 15pt; color: #00ffff;}

#aboutme > .container > .imgs > .socialM
{
    width: 100%;
    display: flex;
    justify-content: center;
    

}
#aboutme > .container > .imgs > .socialM > a > img
{
    width: 4vw;
    padding: 1vw;
}

#aboutme > .container > #aboutme_txt
{
    color:rgb(228, 224, 224);

    width: 50%;
    align-items: center;
    padding: 4%;
}

#aboutme > .container > #aboutme_txt > p
{
    padding-top: .5vw;
}